<div id="dashboard">
  <dashboard-page
    username="<%= current_user.email %>"
    user="<%= current_user.id %>"
    :admin="<%= current_user.admin %>"
    :category="<%= @issue_by_category %>"
    :commodities="<%= @commodities %>"
    :exporting="<%= @exporting %>"
    :importing="<%= @importing %>"
    :species="<%= @species %>"
    :taxonomy="<%= @taxonomy %>"
    user="<%= current_user.id %>"
  >
  </dashboard-page>
</div>
