<div id="dashboard">
  <dashboard-page
    :category="<%= @issue_by_category %>"
    :commodities="<%= @commodities %>"
    :exporting="<%= @exporting %>"
    :importing="<%= @importing %>"
    :species="<%= @species %>"
    :taxonomy="<%= @taxonomy %>"
    user="<%= current_user.id %>"
  >
  </dashboard-page>
</div>
