<div class="login">

  <div class="columns is-gapless">
    <div class="column login__banner">
    </div>

    <div class="column">

      <div class="login__content">
        <div class="login__content-logo">
          <img src="https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg" alt="UN Environment World Conservation Monitoring Centre">
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "login__content-form" }) do |f| %>
          <%= raw(devise_error_messages!) %>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>

          <div class="login__content-actions">
            <%= f.submit "Send reset instructions", class: "button is-dark login__content-button" %>
          </div>
        <% end %>

        <div class="login__content-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>

</div>